@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "Crimeline";
  src: url(fonts/FredokaOne-Regular.ttf);
}
body {
  font-family: "Ubuntu", sans-serif;
  /* font-size: 24px; */
  font-weight: 500;
  padding: 0;
  padding-top: 80px;
  box-sizing: border-box;
  margin: 0;
}

/* STYLE FOR HEADER */
header {
  background: #9e1030ff;
  background: linear-gradient(
    90deg,
    #9e1030ff 10%,
    rgba(0, 0, 0, 0.8556373232886905) 100%
  );
  color: white;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  height: fit-content;
  padding: 0;
  margin: 0;
  box-shadow: 0px 0px 8px black;
  transition: 0.0002s;
  -webkit-transition: 0.0002s;
  -moz-transition: 0.0002s;
  -ms-transition: 0.0002s;
  -o-transition: 0.0002s;
}
header.sticky {
  position: fixed;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 13px 0;
  color: white;
  background-color: #111;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
header.sticky > div.logo {
  display: none;
}
header.sticky > div.tabs > span.tab a {
  color: white;
}
header.sticky > div.logins {
  display: none;
}
div.logo {
  width: 100px;
  height: 100%;
}
div.logo img {
  width: inherit;
}
div.tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 62%;
  text-transform: uppercase;
}
div.tabs .tab:not(:last-child) {
  border-right: 2px solid whitesmoke;

  padding: 0 25px;
}
header.sticky div.tabs .tab:not(:last-child) {
  border-right: 2px solid white;
}
span.tab a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
span.tab:hover {
  text-shadow: 0 0 5px rgb(255, 255, 255);
  transform: scale(1.2);
  transition: -0.1s;
  border: none;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: -0.1s;
  -moz-transition: -0.1s;
  -ms-transition: -0.1s;
  -o-transition: -0.1s;
}
.fa-search {
  margin-left: 15px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#search {
  display: none;
  color: white;
  margin-left: 10px;
  width: 180px;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
  background: transparent;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#search::placeholder {
  color: rgba(255, 255, 255, 0.295);
}
#search:focus {
  /* border: none;
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  background: transparent; */
  outline: none;
}
.fa-search:hover {
  text-shadow: 0 0 5px rgba(17, 17, 17, 0.521);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
div.logins {
  height: fit-content;
  background-color: #9e1030ff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  transition: 0.5s;
  margin: 25px;
  padding: 2px 10px;
  border: 2px solid #9e1030ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}
div.logins a {
  text-decoration: none;
  text-transform: capitalize;
  background-color: transparent;
  color: white;
  margin: 5px 2px;
  font-family: "Exo 2", sans-serif;
  font-weight: bolder;
}
div.logins:hover {
  transform: scale(1.02);
  transition: 0.4s;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/* STYLE FOR SECTION 1 */
/* .section1 div.info{
  border: 2px solid #222;
} */
h1 {
  font-family: Crimeline;
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 100;
}
p {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 600;
}
h1#crimeline {
  text-shadow: 0 0 3px red;
}
section.section1 {
  height: 50vh;
  display: flex;
  margin-top: 50px;
}
.section1 .info {
  height: inherit;
  width: 50%;
}
.section1 div.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-left: 20px;
}
.section1 div.img {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: center;
}
div.info span a {
  transition: 0.3s;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  padding: 5px 10px;
  font-weight: 700;
  background-color: rgb(187, 24, 24);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
div.info span a:hover {
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.527);
  font-size: 18px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* STYLE FOR SECTION 2 */

section.section2 {
  height: 50vh;
  margin-top: 20px;
  display: flex;
}
.section2 .info {
  height: inherit;
  width: 50%;
}
.section2 div.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.section2 div.img {
  width: 50%;
  height: inherit;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.section2 div.img img {
  /* width: 80%; */
  height: 80%;
}

/* FOOTER STYLE */
footer {
  background: linear-gradient(
    0deg,
    rgb(6, 0, 22) 98%,
    rgba(255, 255, 255, 0.973) 100%
  );
  color: rgb(255, 255, 255);
  display: grid;
  margin-top: 30px;
  width: 100%;
  height: 30vh;
  grid-template-areas:
    "aboutUs aboutUs aboutUs"
    "contactDetails disclaimer followUs";
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: 5vh 25vh;
}
footer > div {
  padding: 2px 15px 10px 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
h5 {
  font-size: 20px;
  margin-block-start: 10px;
  margin-block-end: 20px;
  font-family: "Exo 2", sans-serif;
}
.aboutUs {
  grid-area: aboutUs;
  font-weight: bold;
  margin-left: 66px;
  font-size: 34px;
  font-family: "Exo 2", sans-serif;
}
.contactDetails {
  grid-area: contactDetails;
}
.contactContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 120%;
  height: fit-content;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.contactContainer:hover {
  color: #04dd00;
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
}
.contactContainer:hover:last-child {
  color: #87e9fa;
  text-shadow: 0 0 10px white;
  transform: scale(1.09);
  -webkit-transform: scale(1.09);
  -moz-transform: scale(1.09);
  -ms-transform: scale(1.09);
  -o-transform: scale(1.09);
}
.contactContainer i {
  margin-right: 15px;
  font-size: 23px;
}
.contactContainer a {
  text-decoration: none;
  color: inherit;
}
.disclaimer {
  grid-area: disclaimer;
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      red,
      rgba(0, 0, 0, 0)
    )
    1 100%;
}
.disclaimer p {
  margin: 0;
  text-align: center;
  font-weight: 200;
  font-size: 17px;
}
.followUs {
  grid-area: followUs;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.icons a {
  text-decoration: none;
}
.icons a i {
  font-size: 42px;
  color: wheat;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.icons a i.fa-instagram:hover {
  background: -webkit-radial-gradient(
    33% 100% circle,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 25px #bc2a8d;
}
.icons a i.fa-facebook-f:hover {
  color: rgb(47, 47, 156);
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}
.icons a i.fa-twitter:hover {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
}

.icons a i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

/* ZANDZ LOGIN BOX */
#signUp-signIn {
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 90px;
  right: 2vw;
  justify-content: center;
  color: black;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
#search > :placeholder-shown {
  color: white;
}

.box-login {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 400px;
  height: 500px;
  overflow: hidden;
  position: relative;
  padding: 05px;
  border: yellow;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.box-login span#quit {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  margin: 8px;
  padding: 2px 5px;
  font-weight: bold;
  font-family: "Crimeline";
}
.box-login span#quit:hover {
  border-radius: 10px;
  background-color: lightgrey;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.button-box {
  margin: 35px auto;
  box-shadow: 0 0 30px 9px #e4e5ff1f;
  position: relative;
  color: red;
  width: 221px;
}

/*Sign In and Sign Up top buttons*/
.top_button {
  font-weight: bolder;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 11px 30px;
  outline: none;
  position: relative;
}

/*Animated top button for the SignIn and SignUp*/
#move_button {
  /*top: 0; */
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #9e1030ff;
  color: white;
  /*border-radius: 35px;*/
  transition: 0.8s;
}

.login_detail_line {
  top: 180px;
  width: 320px;
  position: absolute;
  transition: 0.5s;
}
.register_detail_line input::placeholder {
  color: white;
}

.register_detail_line {
  top: 170px;
  position: absolute;
  width: 320px;
  transition: 0.5s;
}

#BUTTON_ {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: bolder;
  border: none;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  margin: auto;
  background: #9e1030ff;
  outline: none;
}

/*user input required*/
input.user_input {
  width: 100%;
  border: none;
  outline: none;
  background-color: rgba(158, 16, 49, 0.366);
  padding: 13px 8px;
  margin: 1px -19px;
  border: 10px;
}
input.user_input:focus {
  border-bottom: 4px solid black;
}

/*colour of the login user input*/
#login input {
  color: white;
  font-size: 20px;
}

/*colour of the signup user input*/
#signup input {
  color: white;
  font-size: 15px;
}

#login {
  left: 45px;
  bottom: 55px;
}

#signup {
  left: 450px;
}
button#s2.top_button {
  color: #9e1030ff;
}

/* STYLE FOR THE SCROLL BAR */

::-webkit-scrollbar {
  width: 5px;
  background-color: #111;
  overflow: visible;
}
::-webkit-scrollbar-thumb {
  width: 10px;

  background-color: #9e1030ff;
}
::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background-color: #00aced;
}

/*Hot-lines styling
--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Slideshow container */
.slideshow {
  position: relative;
  position: sticky;
  background-image: url("whistleblowers.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
}
body{
  background-color: #9e1030ff;
}

/* Slides */
.slogan {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background:#9e1030ff;
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(247, 35, 35);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q,
.slogan {
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
  color: white;
}

/* hotlines sidebar*/
.sidebar {
  height: 50%;
  width: 25%;
  position:sticky;
  position:top fixed;
  float: left;
  z-index: 1;
  top: 307px;
  left: 0;
  background: #9e1030ff;
  overflow-x: hidden;
  padding-top: 20px;
  font-style: sans-serif;
  text-align: justify;
}

#Report td:hover {
  color: #064579;
}
#Report{
  font-family: Poppins;
  border-collapse: collapse;
  width: 100%;
  font-weight:normal;
}
#Report td, #Report th {
  border-bottom: 1px solid#7e1030ff;
  box-shadow:5px 0 5;
  padding: 8px;
  color: white;
}

/*-----------------------------------------------------------------------------------------------------------*/
.categories {
  border: 2px solid transparent;
  width: 75%;
  margin-left: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background:wheat;
  
  flex-wrap: wrap;
}
.WhistleBlowers {
  font-family: Poppins;
  text-align: left;
  margin-right: 10px;
 
}
.WhistleBlowers:hover{
    border: 1px solid #777;
  }

.tel {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}
/*------------------------------------------------------------------------------------------------------------------------*/
.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


