 /*Hot-lines styling
--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Slideshow container */
/*Hot-lines styling
--------------------------------------------------------------------------------------------------------------------------------------------*/
/* Slideshow container */
.slideshow {
  /* position: relative; */
  position: sticky;
  background-image: url("whistleblowers.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  position:absolute;
  top:11%;
  width: 100%;
  overflow:hidden;
}
body{
  background-color:white;
}

/* Slides */
.slogan {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background:#9e1030ff;
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(247, 35, 35);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q,
.slogan {
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
  color: white;
}

/* hotlines sidebar*/
.sidebar {
  height:60%;
  width: 0%;
  position:fixed;
  position:top fixed;
  float: left;
  z-index: -1;
  top: 307px;
  left: 0;
  background: #9e1030ff;
  overflow-x: hidden;
  padding-top: 20px;
  font-style: sans-serif;
  text-align: justify;
}

#Report td:hover {
  color: #064579;
}
#Report{
  font-family: Poppins;
  border-collapse: collapse;
  width: 100%;
  font-weight:normal;
}
#Report td, #Report th {
  border-bottom: 1px solid#7e1030ff;
  box-shadow:5px 0 5;
  padding: 8px;
  color: white;
}

/*-----------------------------------------------------------------------------------------------------------*/
.categories {
  border: 2px solid transparent;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:white;
  flex-wrap: wrap;
  padding-top: 250px;
  margin-top:30px;
}
.WhistleBlowers {
  font-family: Poppins;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  font-weight: bold;
  
}
.hotlinesImages{
  display: flex;
  width:265px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.hotlinesImages img{
  width: 100%;
}
a{
  text-decoration: none;

}
  .WhistleBlowers:hover{
    transform:scale(1.02);
    transition: .3s;
    box-shadow: 0 0 10px rgba(94, 94, 94, 0.459);
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
  .WhistleBlowers a:hover{
    color:#9e1030ff;
  }

.tel {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

span#float{
  border: 2px solid #9e1030ff;
  border-radius: 50%;
  position: fixed;
  font-size: 4em;
  background-color: #9e1030ff;
  color: white;
  height: auto;
  width: auto;
  z-index: 100000;
  bottom: 10vh;
  right: 2vw;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.heartbeat {
	-webkit-animation: heartbeat 1.5s steps(2, end) infinite both;
  animation: heartbeat 1.5s steps(2, end) infinite both;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.infos{
  position: fixed;
  bottom: 9vh;
  right: 1vw;
  width: 20vw;
  max-width: 40vw;
  padding: 10px;
  padding-bottom: 30px;
  padding-right: 50px;
  border-radius: 10px;
  background-color: #9e1030ff;
  backdrop-filter: blur(15px);
  color: white;
  font-weight: 900;
  z-index: 10;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#quit{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 2em;
}