header {
  display: grid;
  grid-template-columns: 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
}
div.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
div.buttons div.button{
    display: inline-block;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  list-style-type: none;
}

li,
a {
  background: black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  color: white;
}
img.logo {
  /* width: 15vw;
  height: 15vh; */
  width: 300px;
  height: 300px;
  transform: skewY(2);
}
div.slide {
  position: relative;
  width: 90vw;
  height: 100vh;
  background: blue;
  animation: slide 15s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
}
@keyframes slide {
  0% {
    background: url(whistleblower.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background: url(logo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background: url(logo.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
span.readMore{
    position:absolute;
    bottom: 50%;
    left: 10px;
    border: 2px solid;
    padding: 5px;
    color: white;
    text-transform: uppercase;
    background:rgb(3, 3, 83);
    cursor: pointer;
}